.main
	font-family: 'Lato', sans-serif 
	margin-bottom: 66px
	.container
		background: #fff url('../img/main/main-bg.jpg') center center no-repeat
		padding: 143px 166px
		justify-content: center
		flex-direction: column
		align-items: center
		.sale-rect__wrap
			text-align: center
			width: 270px
			height: 270px
			border: 2px solid #ffffff
			padding: 6px
			margin-bottom: 57px
			.sale-rect
				border: 2px solid #ffffff
				padding: 30px 33px
				&__pre-title
					color: #ffffff
					font-size: 19px
					font-weight: 700
					line-height: 11.66px
					text-transform: uppercase
					margin-bottom: 30px
				&__main-title
					color: #000000
					font-size: 59px
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 20px
				&__up-to
					color: #ffffff
					font-size: 20px
					font-weight: 700
					text-transform: uppercase
					margin-bottom: 20px
				&__procent-sale
					text-transform: uppercase
					color: #000000
					font-size: 31px
					font-weight: 700
					span
						font-size: 24px
		.shop-button
			text-transform: uppercase
			display: block
			max-width: 189px
			padding: 16px 30px
			background-color: #f09d66			
			font-family: 'Lato', sans-serif 
			font-size: 20px
			font-weight: 400
			color: #ffffff
			border: none