.summer-collection
	margin-bottom: 115px
	&-title
		margin-bottom: 65px
	&-wrap
		border: 1px solid #eaeaea
		padding-top: 15px
		display: flex
		margin: 0 auto
		max-width: 1290px
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-around
	&-block
		position: relative
		margin-bottom: 16px
		.sale-circle
			position: absolute
			top: 18px
			left: 16px
			color: #ffffff
			font-family: Lato
			font-size: 23px
			font-weight: 400
			line-height: 18px
			background-color: #feab12
			padding: 22px 8px 22px 15px
			border-radius: 70%
			span
				margin-top: 0px
				font-size: 15px



