@font-face {
  font-family: "Krinkes Decor PERSONAL USE";
  src: url("../fonts/Krinkes_Decor_PERSONAL_USE/KrinkesDecorPERSONAL.eot?") format("eot");
  src: url("../fonts/Krinkes_Decor_PERSONAL_USE/KrinkesDecorPERSONAL.woff") format("woff");
  src: url("../fonts/Krinkes_Decor_PERSONAL_USE/KrinkesDecorPERSONAL.ttf") format("truetype");
  src: url("../fonts/Krinkes_Decor_PERSONAL_USE/KrinkesDecorPERSONAL.svg#KrinkesDecorPERSONALUSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  outline: none;
  text-decoration: none;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

button {
  outline: none;
  cursor: pointer;
}

.section-title_diamond_right {
  border: 10px solid transparent;
  border-bottom: 10px solid #d9bf8f;
  position: relative;
  width: 0;
  height: 0;
  left: 890px;
  top: -55px;
}

.section-title_diamond_right:before {
  position: absolute;
  content: '';
  right: -10px;
  top: 10px;
  border: 10px solid transparent;
  border-top: 10px solid #d9bf8f;
  width: 0;
  height: 0;
}

.section-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}

.section-title:before {
  position: absolute;
  top: 20px;
  content: '';
  right: 180px;
  min-width: 300px;
  border-top: 1px solid #eaeaea;
  height: 1px;
}

.section-title:after {
  content: '';
  position: absolute;
  top: 20px;
  height: 1px;
  left: 170px;
  border-top: 1px solid #eaeaea;
  min-width: 300px;
}

.section-title_diamond_left {
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #d9bf8f;
  position: relative;
  width: 0;
  left: 530px;
  top: -35px;
}

.section-title_diamond_left:before {
  position: absolute;
  content: '';
  left: -10px;
  top: 10px;
  border: 10px solid transparent;
  border-top: 10px solid #d9bf8f;
  width: 0;
  height: 0;
}

.top-line {
  padding-top: 32px;
  padding-bottom: 23px;
}

.top-line .nav-ul__item {
  margin-right: 25px;
  display: inline;
  list-style-type: none;
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: italic;
  line-height: 17.69px;
}

.top-line .nav-ul__item a {
  color: #000;
}

.top-line .logo_text {
  font-size: 72px;
  font-weight: 400;
  line-height: 18.07px;
  font-family: 'Pattaya', sans-serif;
}

.top-line .social-media__block {
  color: #d9bf8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-line .social-media__block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31px;
  height: 30px;
  border: 2px solid #d9bf8f;
  border-radius: 20px;
  margin-right: 15px;
}

.top-line .choose-lang__list {
  background-color: #000;
  padding: 14px 11px 13px 14px;
  color: #fff;
}

.main {
  font-family: 'Lato', sans-serif;
  margin-bottom: 66px;
}

.main .container {
  background: #fff url("../img/main/main-bg.jpg") center center no-repeat;
  padding: 143px 166px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main .container .sale-rect__wrap {
  text-align: center;
  width: 270px;
  height: 270px;
  border: 2px solid #ffffff;
  padding: 6px;
  margin-bottom: 57px;
}

.main .container .sale-rect__wrap .sale-rect {
  border: 2px solid #ffffff;
  padding: 30px 33px;
}

.main .container .sale-rect__wrap .sale-rect__pre-title {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 11.66px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main .container .sale-rect__wrap .sale-rect__main-title {
  color: #000000;
  font-size: 59px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main .container .sale-rect__wrap .sale-rect__up-to {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.main .container .sale-rect__wrap .sale-rect__up-to:before {
  content: '';
  position: absolute;
  height: 7px;
  border-top: 1px solid white;
  top: 9px;
  left: 25px;
  width: 34px;
}

.main .container .sale-rect__wrap .sale-rect__up-to:after {
  content: '';
  position: absolute;
  height: 7px;
  border-top: 1px solid white;
  top: 9px;
  right: 25px;
  width: 34px;
}

.main .container .sale-rect__wrap .sale-rect__up-to_decoration {
  position: absolute;
}

.main .container .sale-rect__wrap .sale-rect__up-to_decoration_first-line {
  bottom: 5px;
  left: 0;
  width: 60px;
  height: 1px;
  border-top: 1px solid white;
}

.main .container .sale-rect__wrap .sale-rect__up-to_decoration_second-line {
  bottom: 5px;
  right: 0;
  width: 60px;
  height: 1px;
  border-top: 1px solid white;
}

.main .container .sale-rect__wrap .sale-rect__procent-sale {
  text-transform: uppercase;
  color: #000000;
  font-size: 31px;
  font-weight: 700;
}

.main .container .sale-rect__wrap .sale-rect__procent-sale span {
  font-size: 24px;
}

.main .container .shop-button {
  text-transform: uppercase;
  display: block;
  max-width: 189px;
  padding: 16px 30px;
  background-color: #f09d66;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  border: none;
}

.advantages {
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin-bottom: 102px;
}

.advantages .container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.advantages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages-block__text__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.advantages-block__text__descr {
  font-size: 14px;
  font-weight: 400;
}

.advantages-block .fa {
  font-size: 48px;
}

.advantages-block .fa-plane {
  margin-right: 33px;
}

.advantages-block .fa-clock-o {
  margin-right: 22px;
}

.advantages-block .fa-life-ring {
  margin-right: 27px;
}

.advantages-free-shipping {
  position: relative;
  background-color: #d9bf8f;
  padding: 20px 100px 20px 32px;
}

.advantages-free-shipping:after {
  content: '';
  position: absolute;
  border-top: 55px solid transparent;
  border-left: 50px solid #d9bf8f;
  border-bottom: 57px solid transparent;
  right: -50px;
}

.advantages-days-return {
  position: relative;
  padding: 25px;
  background-color: #000;
}

.advantages-days-return:after {
  content: '';
  position: absolute;
  border-top: 60px solid #000;
  border-left: 50px solid transparent;
  border-bottom: 55px solid #000;
  left: -50px;
}

.advantages-days-return:before {
  content: '';
  position: absolute;
  border-top: 60px solid #000;
  border-right: 50px solid transparent;
  border-bottom: 55px solid #000;
  right: -50px;
}

.advantages-support {
  position: relative;
  padding: 20px 83px 20px 23px;
  background-color: #d9bf8f;
}

.advantages-support:before {
  content: '';
  position: absolute;
  border-top: 56px solid transparent;
  border-right: 50px solid #d9bf8f;
  border-bottom: 57px solid transparent;
  left: -50px;
}

.handpicked {
  margin-bottom: 103px;
}

.handpicked-title {
  position: relative;
  margin-bottom: 69px;
}

.handpicked-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1300px;
  max-height: 825px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.handpicked-block {
  position: relative;
}

.handpicked-block-border {
  position: absolute;
  max-width: 411px;
  top: 27px;
  left: 24px;
  right: 24px;
  bottom: 32px;
  border: 3px solid #ffffff;
}

.handpicked-block1 {
  margin-bottom: 15px;
}

.handpicked-block4 {
  margin-bottom: 15px;
}